*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
     
    position: absolute;
    display: flex;
    height: 300px;
    width: 1400px;
    top: 30%;
    border-radius: 30px;
    justify-content: space-between;
   
}

.hour{
     background-color: rgb(5, 96, 156);
    height: 280px;
    width: 380px;
    font-size: 200px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
.minute{
     background-color: rgb(73, 136, 179);
    height: 280px;
    width: 380px;
    font-size: 200px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot{
     background-color: rgb(47, 53, 58);
    height: 280px;
    width: 100px;
}

.second
{
      background-color: rgb(175, 223, 255);
    height: 280px;
    width: 380px;
    font-size: 200px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
     background-color: rgb(3, 47, 65);
    position: absolute;
    display: flex;
    height: 100px;
    width: 200px;
    top: 65%;
    border-radius: 30px;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
}